* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/* Navigation */
.f-nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 155, 171);
    padding: 18px;
}

/* Second Navigation */
.sec-nav {
    display: flex;
    justify-content: space-around;
    padding: 11px;
}

.sec-nav ul li img {
    width: 8%;
    margin-left: 22px;
}

.sec-nav ul li a {
    margin-inline: 22px;
}

.sec-nav .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec-nav .inputs button {
    margin-inline: 22px;
    min-width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: rgb(225, 58, 86);
}

.sec-nav .inputs input {
    width: 100%;
    max-width: 220px;
    background-color: rgb(225, 217, 217);
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
}

/* Items */
.items {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.items ul li a {
    margin-inline: 22px;
    text-align: center;
    list-style: none;
    font-family: 'Mulish', sans-serif;
}

.items ul li button {
    min-width: 100px;
    height: 34px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: rgb(225, 58, 86);
}

.items ul li {
    list-style: none;
}

/* Main Content */
.main-img img {
    width: 100%;
}

.pink img {
    width: 100%;
}

.pink h2 {
    text-align: center;
    padding: 8px;
}

.brand h2 {
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 33px;
}

.card img {
    margin-inline: 22px;
    width: 44%;
    max-width: 100%;
}

.brand h2 {
    text-align: center;
    padding: 22px;
}

.topbrd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topbrd img {
    margin-inline: 22px;
    width: 44%;
    max-width: 100%;
}

.only-nykaa h2 {
    text-align: center;
    padding: 22px;
}

.only-nykaa .only {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.only img {
    width: 44%;
    margin-inline: 22px;
    max-width: 100%;
}

.makeup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 42px;
}

.makeup img {
    width: 22%;
    margin-inline: 18px;
    max-width: 100%;
}

.special h2 {
    text-align: center;
    padding: 22px;
}

.special .curation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.curation img {
    width: 44%;
    margin-inline: 22px;
    max-width: 100%;
}

.beauty h2 {
    text-align: center;
    padding: 22px;
}

.beauty .advice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 22px;
}

.advice img {
    margin-inline: 22px;
    width: 44%;
    max-width: 100%;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    padding: 40px;
    color: rgb(244, 233, 233);
    font-family: 'Mulish', sans-serif;
}

.footer .list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .list ul {
    list-style: none;
    padding: 0;
}

.footer .list ul a {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.footer .list ul h2 {
    font-size: 16px;
    text-align: center;
}
